<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notifications</title>
</head>
<body>
  <div class="content-wrapper">
    <%= render "shared/navigation-bar" %>

    <h1 class="page-header">Notifications</h1>

    <% already_friend = [] %>
    <% current_user.friendships.each do |f| %>
      <% friend = User.find_by(id: f.friend_id) %>
      <% already_friend << friend.id %>
    <% end %>

    <h3>Pending Received Requests:</h3>
    <% current_user.received_requests.each do |request| %>
      <% unless already_friend.include?(request.sending_user_id) %>
        <% user = User.find_by(id: request.sending_user_id) %>
        <%= link_to "#{user.username}", user_path(user.id) %>
        <%= button_to "Accept", accept_request_path(request), method: "put" %>
        <%= button_to "Deny", deny_request_path(request), method: :delete, data: { turbo_method: :delete }%>
      <% end %>
    <% end %>

    <h3>Pending Sent Requests:</h3>
    <% current_user.sent_requests.each do |request| %>
      <% unless already_friend.include?(request.receiving_user_id) %>
        <% user = User.find_by(id: request.receiving_user_id) %>
        <%= link_to "#{user.username}", user_path(user.id) %>
      <% end %>
    <% end %>

    <h3>Users you may know:</h3>
    <% User.all.each do |user| %>
      <% if user != current_user && !already_friend.include?(user.id) %>
      <%= link_to "#{user.username}", user_path(user.id) %>

        <% if current_user.request_sent?(current_user, user) %>
          <p>Friend request has been sent to <%="#{user.username}"%> already.</p>

        <% elsif current_user.request_received?(current_user, user) %>
          <p>You have a pending friend request from <%="#{user.username}"%>.</p>

        <% else %>
          <%= button_to "Send #{user.username} a friend request!", send_request_path(user), method: "put" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</body>
</html>