<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>
  <%= render "shared/navigation-bar" %>

  <% users_page = User.find(params[:id]) %>
  <h1><%= users_page.username %></h1>

  <turbo-frame id="new_post">
    <%= link_to "Create a new post", new_post_path %>
  </turbo-frame>

  <% sorted_posts = [] %>
  <% if User.find(params[:id]).posts.any? %>
    <% User.find(params[:id]).posts.each do |post| %>
      <% sorted_posts << post %>
    <% end %>
  <% end %>

  <% sorted_posts.reverse.each do |post| %>
    <p class="user-page-post"><%= post.body %></p>
    <p><%= User.find_by(id: post.user_id).username %></p>
    <p><%= post.created_at %></p>

    <p>Comments:</p>
    <% post.comments.each do |comment| %>
      <p><%= comment.body %></p>
    <% end %>

    <turbo-frame id="new_comment">
      <%= link_to "Comment", new_post_comment_path(post) %>
    </turbo-frame>

    <p class="likes"><%= post.likes.count %> likes</p>

    <% if  post.liked?(current_user) %>
      <%= button_to like_path(post), method: "put", disabled: true do %>
        <p class="like-btn"><%= image_tag "check.png", class:"smaller-icon" %>Liked</p>
      <% end %>
    <% else %>
      <%= button_to like_path(post), method: "put" do %>
        <p class="like-btn"><%= image_tag "thumb-up-outline.png", class:"smaller-icon" %>Like</p>
      <% end %>
    <% end %>
  <% end %>

  <h3>Friends:</h3>
  <% users_page.friendships.each do |f| %>
    <% friend = User.find_by(id: f.friend_id) %>
    <%= link_to "#{friend.username}", user_path(friend.id) %>
  <% end %>
</body>
</html>