<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timeline</title>
</head>
<body>
  <nav class="nav-page"><%= render "shared/navigation-bar" %></nav>

  <div class="content-wrapper">

    <div class="content-wrapper-left">
      <h1 class="page-header">Timeline</h1>
    </div>

    <% sorted_posts = [] %>
    <% current_user.friendships.each do |f| %>
      <% friend = User.find_by(id: f.friend_id) %>
      <% friend.posts.each do |post| %>
        <% sorted_posts << post %>
      <% end %>
    <% end %>
    <% current_user.posts.each do |post| %>
      <% sorted_posts << post %>
    <% end %>
    <% sorted_posts.sort_by!{ |post| post.created_at } %>

    <main class="content-wrapper-right">

      <form class="post-link-container">
        <turbo-frame id="new_post">
          <%= link_to "Create a new post", new_post_path, class: "post-link" %>
        </turbo-frame>
      </form>

      <% sorted_posts.reverse.each do |post| %>
        <div class="post-container">
          <p class="post-body"><%= post.body %></p>
          <% user = User.find_by(id: post.user_id) %>
          <p class="profile-link-post"><%= link_to "#{user.username}", user_path(user.id), class: "profile-link" %></p>
          <p class="post-time"><%= post.created_at %></p>
          <p class="post-likes"><%= post.likes.count %> likes</p>

          <% if  post.liked?(current_user) %>
            <%= button_to unlike_path(post), method: :delete, data: { turbo_method: :delete } do %>
              <p class="like-btn"><%= image_tag "check.png", class:"like-icon" %>Liked</p>
            <% end %>
          <% else %>
            <%= button_to like_path(post), method: "put" do %>
              <p class="like-btn"><%= image_tag "thumb-up-outline.png", class:"like-icon" %>Like</p>
            <% end %>
          <% end %>

          <p class="comment-header">Comments:</p>
          <form>
            <turbo-frame id="new_comment", class="comment-link-container">
              <%= link_to "Comment", new_post_comment_path(post), class: "comment-link" %>
            </turbo-frame>
          </form>
          <div class="comment-content-container">
            <% post.comments.each do |comment| %>
              <p class="comment-body"><%= comment.body %></p>
              <% comment_user = User.find_by(id: comment.user_id)%>
              <p class="comment-user">- <%= link_to "#{comment_user.username}", user_path(comment_user.id), class: "profile-link" %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </main>
  </div>
</body>
</html>